/* .signup-form-parent-container {
    display: grid;
}

.form-container {
    display: flex;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.logo-in-signup {
    display: flex;
    align-items: center;
    justify-content: center;
} */
