.tasks-in-nav, .about-in-nav, .logout-in-nav {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.navbar {
    display: flex;
    margin: 25px;
    justify-content: flex-end;
}

.navbar-lamadoro-logo {
    width: 100px;
    height: 100px;
}