.signup-lamadoro-logo {
    height: 300px; 
    width: 300px;
}

.signup-parent {
    display: flex;
    flex-direction: row;
    align-items: center; /* Horizontal center alignment */
    justify-content: center; /* Vertical center alignment */
    height: 50vh; /* Adjust the height as needed */
}

.logo-signup-div {
    height: 100px;
    margin: 20px;
}

.return-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
}

.button-in-signup {
    border: none;
    border-radius: 20px;;
}

.form-container{
    border-radius: 20px;

}

input {
    border-radius: 10px;
}

div {
    display: flex;
    justify-content: center;
}
