.text-center {
    color: #172627;
}

.custom-height {
    height: 300px;
    width: 500px;
}

.welcome {
border: solid 3px #172627;
background-color: rgb(255, 255, 255, 0.5);
}

.home-container {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm422-105.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8187e717fc1c2f480ff68a8b6363f218');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
